
<h1>Welcome {{request.user}}</h1>
<h1>Todo List</h1>

<form method='post' action="{% url 'logout' %}">

    {% csrf_token %}

    <button type='submit'><a>Logout</a></button>

</form>

<a href="{% url 'task-create' %}">Create Todo</a>

{% for task in tasks %}
    <div>
      
        <h3>{{forloop.counter}} {{ task.title }}</h3>

        {% if task.complete %}
            ✅ Completed
        {% else %}
            ❌ Not completed
        {% endif %}

        <a href="{% url 'task-detail' task.id %}">See Details</a>
        <a href="{% url 'task-update' task.id %}">Edit</a>
        <a href="{% url 'task-delete' task.id %}">Delete</a>
    </div>
{% empty %}
    <h3>No tasks found.</h3>
{% endfor %}

